<div
  class="Expense"
  style="
    width: 737px;
    height: 113px;
    color: #e2fffd;
    font-size: 96px;
    font-family: Jomhuria;
    font-weight: 400;
    word-wrap: break-word;
  "
>
  ExPense<br />
</div>
<div
  class="Frame1"
  style="
    width: 1342px;
    height: 86px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
  "
>
  <div
    class="Rectangle9"
    style="width: 1342px; height: 86px; background: #7ab2b2"
  ></div>
</div>
<div class="Frame2" style="width: 1342px; height: 647px; position: relative">
  <div
    class="Rectangle1"
    style="
      width: 1342px;
      height: 647px;
      left: 0px;
      top: 0px;
      position: absolute;
      background: #4d869c;
    "
  ></div>
  <div
    class="Frame4"
    style="
      left: 371px;
      top: 242px;
      position: absolute;
      justify-content: flex-end;
      align-items: center;
      display: inline-flex;
    "
  >
    <div
      class="ExpenseBox"
      style="width: 772px; height: 113px; position: relative"
    >
      <div
        class="Rectangle6"
        style="
          width: 241.61px;
          height: 68px;
          left: 0px;
          top: 6px;
          position: absolute;
          background: #7ab2b2;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-bottom: 1px #7ab2b2 solid;
        "
      ></div>
      <div
        class="Bills"
        style="
          width: 707.51px;
          height: 113px;
          left: 64.49px;
          top: 0px;
          position: absolute;
          color: #e2fffd;
          font-size: 96px;
          font-family: Jomhuria;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Bills
      </div>
    </div>
  </div>
  <div
    class="IncomeBox"
    style="
      width: 770px;
      height: 113px;
      left: 58px;
      top: 242px;
      position: absolute;
    "
  >
    <div
      class="Rectangle7"
      style="
        width: 242px;
        height: 68px;
        left: 0px;
        top: 6px;
        position: absolute;
        background: #7ab2b2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: 1px #e2fffd solid;
      "
    ></div>
    <div
      class="Balance"
      style="
        width: 735px;
        height: 113px;
        left: 35px;
        top: 0px;
        position: absolute;
        color: #e2fffd;
        font-size: 96px;
        font-family: Jomhuria;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Balance
    </div>
  </div>
  <div
    class="IncomeBox"
    style="
      width: 1109px;
      height: 113px;
      left: 693px;
      top: 242px;
      position: absolute;
    "
  >
    <div
      class="Rectangle7"
      style="
        width: 242px;
        height: 68px;
        left: 0px;
        top: 6px;
        position: absolute;
        background: #7ab2b2;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-bottom: 1px #e2fffd solid;
      "
    ></div>
    <div
      class="Balance"
      style="
        width: 735px;
        height: 113px;
        left: 35px;
        top: 0px;
        position: absolute;
        color: #e2fffd;
        font-size: 96px;
        font-family: Jomhuria;
        font-weight: 400;
        word-wrap: break-word;
      "
    >
      Balance
    </div>
    <div
      class="IncomeBox"
      style="
        width: 770px;
        height: 113px;
        left: 339px;
        top: 0px;
        position: absolute;
      "
    >
      <div
        class="Rectangle7"
        style="
          width: 242px;
          height: 68px;
          left: 0px;
          top: 6px;
          position: absolute;
          background: #7ab2b2;
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          border-bottom: 1px #e2fffd solid;
        "
      ></div>
      <div
        class="Balance"
        style="
          width: 735px;
          height: 113px;
          left: 35px;
          top: 0px;
          position: absolute;
          color: #e2fffd;
          font-size: 96px;
          font-family: Jomhuria;
          font-weight: 400;
          word-wrap: break-word;
        "
      >
        Balance
      </div>
    </div>
  </div>
  <div
    class="Rectangle8"
    style="
      width: 210px;
      height: 75px;
      left: 74px;
      top: 341px;
      position: absolute;
    "
  ></div>
  <div
    class="WhatWouldYouLikeToDo"
    style="
      left: 243px;
      top: 120px;
      position: absolute;
      color: white;
      font-size: 128px;
      font-family: Jomhuria;
      font-weight: 400;
      word-wrap: break-word;
    "
  >
    What would you like to do?
  </div>
</div>
<div
  class="Frame3"
  style="width: 770px; height: 113px; position: relative"
></div>
