<html>
  <head>
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'main.css' %}" />

    <link rel="stylesheet" href="{% static 'login.css' %}" />
  </head>
  <body>
    <center>
      <div class="topMenuContainer">
        <a class="otherTitles" href="/">Home</a>
        <a class="expenseTitle" href="/"><b>ExPense</b></a>
        <a class="otherTitles" href="features">Features</a>
      </div>
    </center>

    <div class="loginContainer">
      <form method="POST" action="login" class="loginBox">
        {% csrf_token %}
        <h1 style="color: white; font-size: 1.5rem">Log in</h1>
        {%for message in messages%}
        <h4 style="color: red">{{message}}</h4>

        {%endfor%}
        <input type="text" name="username" placeholder="Username" />

        <input
          type="password"
          name="password"
          placeholder="Password"
          autocomplete="off"
        />
        <input type="submit" text="Login" />
      </form>
    </div>
  </body>
</html>
